<?php
/**
 * 配置文件
 *
 */
return [
    'timezone' => 'Asia/Shanghai',
    'debug' => true,
    'logPath' => '',
    'cachePath' => '/tmp',
    'charset' => 'UTF-8',
    'indexController' => 'Test',
];
