<?php
/**
 * 数据库配置文件
 *
 */
return [
    'mysql' => [
        'default' => [
            'host' => '192.168.137.1',
            'port' => 3306,
            'user' => 'root',
            'pass' => '',
            'dbName' => 'test',
            'attributes' => [
                \PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES utf8'
            ]
        ]
    ],
    'mongodb' => [
        'default' => [
            'server' => 'mongodb://192.168.137.1:27017', 
            'options' => [],
            'dbName' => 'hntvads'
        ],
        'product' => [
            "server" => 'mongodb://192.168.137.1:27017,192.168.137.3:27017,192.168.137.2:27017',
            'options' => [
                'replicaSet' => 'ipddb',
                'readPreference' => \MongoClient::RP_PRIMARY_PREFERRED,
            ],
            'dbName' => 'hntvads'
        ]
    ]
];

